<div id="left" style="min-height: 1604px;">
  <div class="media user-media bg-dark dker">
    <div class="user-media-toggleHover">
      <span class="fa fa-user"></span>
    </div>
    <div class="user-wrapper bg-dark">
      <a class="user-link" href="">
        <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture"
             src="../../../../assets/img/admin.jpg">
        <p class="text-white user-info">Welcome {{User}}</p>
      </a>
      <div class="search_bar col-lg-12">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="search">
          <span class="input-group-btn">
<button class="btn without_border" type="button"><span class="fa fa-search">
</span></button>
</span>
        </div>
      </div>
    </div>
  </div>
  <!-- #menu -->
  <ul id="menu" class="bg-blue dker">
    <li class="active">
      <a href="#">
        <i class="fa fa-home"></i>
        <span class="link-title">&nbsp;Dashboard</span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-anchor"></i>
        <span class="link-title">&nbsp; Orders</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; Delivered Orders
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; Rejected Orders
          </a>
        </li>

      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-user"></i>
        <span class="link-title">&nbsp; Users</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; All User
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; Create User
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-shopping-bag"></i>
        <span class="link-title">&nbsp; Stores</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; Store Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-building  "></i> &nbsp; Create Store
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-product-hunt"></i>
        <span class="link-title">&nbsp; Products</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; Product Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i> &nbsp; Add new Products
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-right"></i>   Product Categories
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-money"></i> &nbsp; Price Setting
          </a>
        </li>
      </ul>
    </li>
    <!--<li>-->
      <!--<a href="calendar.html">-->
        <!--<i class="fa fa-calendar"></i>-->
        <!--<span class="link-title">&nbsp; Calendar</span>-->
        <!--<span class="badge badge-pill badge-primary float-right calendar_badge">7</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="gallery.html">-->
        <!--<i class="fa fa-picture-o"> </i> &nbsp; Gallery-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">-->
        <!--<i class="fa fa-envelope-o"></i>-->
        <!--<span class="link-title">&nbsp; Email</span>-->
        <!--<span class="fa arrow"></span>-->
      <!--</a>-->
      <!--<ul class="collapse">-->
        <!--<li>-->
          <!--<a href="mail_compose.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Compose-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="mail_inbox.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Inbox-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="mail_view.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; View-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="mail_sent.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Sent-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="mail_spam.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Spam-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="mail_draft.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Draft-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="mail_trash.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Trash-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">-->
        <!--<i class="fa fa-map-marker"></i>-->
        <!--<span class="link-title">&nbsp; Maps</span>-->
        <!--<span class="fa arrow"></span>-->
      <!--</a>-->
      <!--<ul class="collapse">-->
        <!--<li>-->
          <!--<a href="maps.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Google Maps-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="jqvmaps.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Vector Maps-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="javascript:;">-->
        <!--<i class="fa fa-file"></i>-->
        <!--<span class="link-title">&nbsp; Pages</span>-->
        <!--<span class="fa arrow"></span>-->
      <!--</a>-->
      <!--<ul class="collapse">-->
        <!--<li>-->
          <!--<a href="404.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; 404-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="500.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; 500-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="login.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Login-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="register.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Register-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="lockscreen.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Lock Screen-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="invoice.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Invoice-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="blank.html">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp; Blank Page-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--&lt;!&ndash;<li class="">&ndash;&gt;-->
      <!--&lt;!&ndash;<a href="javascript:;">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="fa fa-th"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="link-title">&nbsp; Layouts</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="fa arrow"></span>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="collapse">&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="boxed.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; Boxed Layout&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="fixed-header-boxed.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; Boxed &amp; Fixed Header&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="fixed-header-menu.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; Fixed Header &amp; Menu&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="fixed-header.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; Fixed Header&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="fixed-menu-boxed.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; Boxed &amp; Fixed Menu&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="fixed-menu.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; Fixed Menu&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="no-header.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; No Header&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="no-left-sidebar.html">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-right"></i> &nbsp; No Left Sidebar&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--</li>-->
    <li>
      <!--<a href="javascript:;">-->
        <!--<i class="fa fa-sitemap"></i>-->
        <!--<span class="link-title">&nbsp; Multi Level Menu</span>-->
        <!--<span class="fa arrow"></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu collapse">-->
        <!--<li>-->
          <!--<a href="javascript:;">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp;Level 1-->
            <!--<span class="fa arrow"></span>-->
          <!--</a>-->
          <!--<ul class="sub-menu sub-submenu collapse">-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
                <!--<span class="fa arrow"></span>-->
              <!--</a>-->
              <!--<ul class="sub-menu sub-submenu collapse">-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-angle-right"></i> &nbsp;Level 3-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-angle-right"></i> &nbsp;Level 3-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-angle-right"></i> &nbsp;Level 3-->
                    <!--<span class="fa arrow"></span>-->
                  <!--</a>-->
                  <!--<ul class="sub-menu sub-submenu collapse">-->
                    <!--<li>-->
                      <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-angle-right"></i> &nbsp;Level 4-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-angle-right"></i> &nbsp;Level 4-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="javascript:;">-->
                        <!--<i class="fa fa-angle-right"></i> &nbsp;Level 4-->
                        <!--<span class="fa arrow"></span>-->
                      <!--</a>-->
                      <!--<ul class="sub-menu sub-submenu collapse">-->
                        <!--<li>-->
                          <!--<a href="javascript:;">-->
                            <!--<i class="fa fa-angle-right"></i> &nbsp;Level 5-->
                          <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                          <!--<a href="javascript:;">-->
                            <!--<i class="fa fa-angle-right"></i> &nbsp;Level 5-->
                          <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                          <!--<a href="javascript:;">-->
                            <!--<i class="fa fa-angle-right"></i> &nbsp;Level 5-->
                          <!--</a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-angle-right"></i> &nbsp;Level 4-->
                  <!--</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="javascript:;">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp;Level 1-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="javascript:;">-->
            <!--<i class="fa fa-angle-right"></i> &nbsp;Level 1-->
            <!--<span class="fa arrow"></span>-->
          <!--</a>-->
          <!--<ul class="sub-menu sub-submenu collapse">-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="javascript:;">-->
                <!--<i class="fa fa-angle-right"></i> &nbsp;Level 2-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    </li>
  </ul>
  <!-- /#menu -->
</div>
