<nav class="navbar navbar-static-top">
  <div class="container-fluid m-0">
    <a class="navbar-brand float-left text-center" href="#">
      <h4 class="text-white">
        <img src="../../../../assets/img/logow.png" class="admin_img" alt="logo">
         SHIBI ADMIN
      </h4>
    </a>
    <div class="menu">
      <span class="toggle-left" id="menu-toggle" (click)="toggleNav()">
        <i class="fa fa-bars text-white"></i>
      </span>
    </div>
    <div class="topnav dropdown-menu-right float-right">
      <div class="btn-group">
        <div class="notifications no-bg">
          <a class="btn btn-default btn-sm messages" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope fa-1x text-white"></i>
            <span class="badge badge-warning"></span>
          </a>

        </div>
      </div>
      <!--<div class="btn-group"-->

      <div class="btn-group">
        <div class="notifications messages no-bg">
          <a class="btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-bell text-white"></i>
            <!--<span class="bg-danger notification_tags">4</span>-->
            <span class="badge badge-danger">9</span>
          </a>
          <div class="dropdown-menu drop_box_align" role="menu">
            <div class="popover-title">You have 9 Notifications</div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 235px;"><div id="notifications" style="overflow: hidden; width: auto; height: 235px;">
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/1.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>Remo</strong>
                    sent you an image
                    <br>
                    <small class="primary_txt">just now.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/2.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>clay</strong>
                    business propasals
                    <br>
                    <small class="primary_txt">20min Back.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/3.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>John</strong>
                    meeting at Ritz
                    <br>
                    <small class="primary_txt">2hrs Back.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/6.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>Luicy</strong>
                    Request Invitation
                    <br>
                    <small class="primary_txt">Yesterday.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/1.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>Remo</strong>
                    sent you an image
                    <br>
                    <small class="primary_txt">just now.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/2.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>clay</strong>
                    business propasals
                    <br>
                    <small class="primary_txt">20min Back.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/3.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>John</strong>
                    meeting at Ritz
                    <br>
                    <small class="primary_txt">2hrs Back.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/6.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>Luicy</strong>
                    Request Invitation
                    <br>
                    <small class="primary_txt">Yesterday.</small>
                    <br>
                  </div>
                </div>
              </div>
              <div class="data">
                <div class="row">
                  <div class="col-2">
                    <img src="img/mailbox_imgs/1.jpg" class="message-img avatar rounded-circle" alt="avatar1"></div>
                  <div class="col-10 message-data">
                    <i class="fa fa-clock-o"></i>
                    <strong>Remo</strong>
                    sent you an image
                    <br>
                    <small class="primary_txt">just now.</small>
                    <br>
                  </div>
                </div>
              </div>
            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.2; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            <div class="popover-footer">
              <a href="#">View All</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a class="btn btn-default btn-sm messages toggle-right">
          &nbsp;
          <i class="fa fa-cog text-white"></i>
          &nbsp;
        </a>
      </div>
      <div class="btn-group">
        <div class="user-settings no-bg">
          <button type="button" class="btn btn-default no-bg micheal_btn" data-toggle="dropdown" aria-expanded="false">
            <img src="../../../../assets/img/admin.jpg" class="admin_img2 rounded-circle avatar-img" alt="avatar"> <strong>{{User}}</strong>
            <span class="fa fa-sort-down white_bg"></span>
          </button>
          <div class="dropdown-menu admire_admin">
            <a class="dropdown-item title" href="#">
              Shibi Admin</a>
            <a class="dropdown-item" href="#"><i class="fa fa-cogs"></i>
              Account Settings</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i>
              User Status
            </a>
            <a class="dropdown-item" href="#"><i class="fa fa-envelope"></i>
              Inbox</a>

            <a class="dropdown-item" href="#"><i class="fa fa-lock"></i>
              Lock Screen</a>
            <a class="dropdown-item" (click)="logOutUser()"><i class="fa fa-sign-out"></i>
              Log Out</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
